@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#container {
    width: 400px;
    height: 800px;
    margin: 0 auto;
    background-color: #F6F7F9;  /*F6F7F9*/
}

hr {
    background-color: #2393F7;
    height: 4px; 
    border: none;
}

#conta_corrente {
    display: inline-block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 50%;
    margin-top: 16px;
    margin-left: 20px;
    margin-bottom: -3px;
}

#tres_barras {
    width: 20px;
    height: 16px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: 20px;
}

#top_barras {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #292E32;
    border-radius: 10px;
    margin-top: -18px;
}

#middle_barras {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #292E32;
    border-radius: 10px;
    margin-left: 4px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#bottom_barras {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #292E32;
    border-radius: 10px;
    margin-top: 5px;
}

#caixa_saldo {
    height: 68px;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 20px;
}

#saldo {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px;
    padding-right: 48px;
    box-shadow: #aaa 0px 0px 1px;
}

#esconder {
    width: 24;
    height: 24px;
    opacity: 0.3;
    margin-top: -150px;
    margin-bottom: 36px;
    margin-left: 332px;
}

#caixa_opcoes {
    width: 360px;
    height: 120px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow:#aaa 0px 0px 1px;
}

#cartao {
    background-color:#2393F7;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 18px;
    border-radius: 15px;
}

#boleto {
    background-color:#2393F7;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 18px;
    border-radius: 15px;
}

#transferir {
    background-color:#2393F7;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 18px;
    border-radius: 15px;
}

#gastos {
    background-color:#2393F7;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 18px;
    border-radius: 15px;
}

#p_cartao {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-left: 26px;
    font-weight: 600;
    opacity: 0.5;
}

#p_boleto {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-top: -35px;
    margin-left: 35px;
    font-weight: 600;
    opacity: 0.5;
}

#p_transferir {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-top: -35px;
    margin-left: 27px;
    font-weight: 600;
    opacity: 0.5;
}

#p_gastos {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-top: -35px;
    margin-left: 23px;
    font-weight: 600;
    opacity: 0.5;
}

#transacoes_recentes {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    text-transform:uppercase;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 700;
    opacity: 0.4;
}

#caixa_historico {
    width: 320px;
    height: 380px;
    margin: 0 auto;
    margin-top: -6px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow:#aaa 0px 0px 1px;
}

#icone_menos {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-top: 5px;
}

#menos_borda {
    display: flex;
    width: 9px;
    height: 9px;
    background-color: #D9D9D9;
    border-radius: 2px;
}

#menos {
    display: flex;
    width: 5px;
    height: 1px;
    background-color: #67747D;
    margin-top: -5px;
    margin-left: 2px;
}

#quantia {
    display: inline;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
}

#data {
    display: inline;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #67737F;
    margin-left: 202px;
}